<div *ngIf="certificados">
  <h3>Certificados Encontrados</h3>
  <div *ngFor="let certificado of certificados">
    <a href="./../../../assets/certificados/{{ certificado?.certificado }}" target="_blanck"> Certificado: {{certificado?.cpf}} </a>
  </div>
</div>

<div *ngIf="!certificados">
  <h3> Certificado não encontrado </h3>
  <br>
  <br>
  <a mat-raised-button color="primary" [routerLink]="['/certificados']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">Retorna para busca</a>
</div>
