<div class="row">
  <div class="col-md-12">
    <a [routerLink]="['eventos-anteriores', evento.id ]" class="link-eventos">

      <img class="img-fluid" src="./../../assets/anais/esea-i/banner-header/{{evento?.imgUrl}}" alt="{{ evento?.titulo }}">

      <h1>
        {{ evento.titulo }} |
        <small> {{ evento.data }}</small>
      </h1>
      <!-- div [innerHTML]="evento.apresentacao" class="apresentacao-resumo"></div -->
    </a>
  </div>
</div>
