<mat-list class="container-menu-side" color="primary">

  <mat-list-item>
    <a mat-button [routerLink]="['home']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" (click)="closeSidenav()">Home</a>
  </mat-list-item>

  <mat-list-item>
    <a mat-button [routerLink]="['certificados']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" (click)="closeSidenav()">Certificados</a>
  </mat-list-item>

  <mat-list-item>
    <a mat-button [routerLink]="['apresentacao']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" (click)="closeSidenav()">Apresentação</a>
  </mat-list-item>
  <mat-list-item>
    <button mat-button [matMenuTriggerFor]="menuUm">
      Programação
      <i class="fas fa-caret-down"></i>
    </button>
    <mat-menu #menuUm="matMenu">
      <a mat-menu-item [routerLink]="['/programacao']" [routerLinkActiveOptions]="{exact:true}" (click)="closeSidenav()" [routerLinkActive]="['active']">Programação</a>
      <a mat-menu-item [routerLink]="['/oficinas']" [routerLinkActiveOptions]="{exact:true}" (click)="closeSidenav()" [routerLinkActive]="['active']">Oficinas</a>
    </mat-menu>
  </mat-list-item>

  <mat-list-item>
    <button mat-button [matMenuTriggerFor]="menuDois">
      Inscrições
      <i class="fas fa-caret-down"></i>
    </button>
    <mat-menu #menuDois="matMenu">
      <a mat-menu-item [routerLinkActiveOptions]="{exact:true}" (click)="closeSidenav()" [routerLinkActive]="['active']" [routerLink]="['/inscricoes']">Inscrições para o Evento</a>
      <a mat-menu-item [routerLinkActiveOptions]="{exact:true}" (click)="closeSidenav()" [routerLinkActive]="['active']" [routerLink]="['/submissao-de-trabalhos']">Normas de Submissão</a>
    </mat-menu>
  </mat-list-item>

  <mat-list-item>
    <button mat-button [matMenuTriggerFor]="menuTres">
      Trabalhos Aprovados
      <i class="fas fa-caret-down"></i>
    </button>
    <mat-menu #menuTres="matMenu">
      <a mat-menu-item [routerLinkActiveOptions]="{exact:true}" (click)="closeSidenav()" [routerLinkActive]="['active']" [routerLink]="['/trabalhos-aprovados']">Trabalhos Aprovados</a>
      <a mat-menu-item [routerLinkActiveOptions]="{exact:true}" (click)="closeSidenav()" [routerLinkActive]="['active']" [routerLink]="['/indexacao']">Indexação</a>
    </mat-menu>
  </mat-list-item>

  <mat-list-item>
    <a mat-button [routerLink]="['comissao']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" (click)="closeSidenav()">Comissões</a>
  </mat-list-item>

  <mat-list-item>
    <a mat-button [routerLink]="['editorial']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" (click)="closeSidenav()">Equipe Editorial</a>
  </mat-list-item>

  <mat-list-item>
    <a mat-button [routerLink]="['eventos-anteriores']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"
      (click)="closeSidenav()">Eventos Anteriores</a>
  </mat-list-item>

  <mat-list-item>
    <a mat-button [routerLink]="['contato']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" (click)="closeSidenav()">Contato</a>
  </mat-list-item>

  <button mat-button (click)="closeSidenav()" class="close-bnt-sidenav">
    <i class="fas fa-times fa-lg"></i>
  </button>

</mat-list>
