<swiper [config]="config">
  <div class="swiper-wrapper">
    <div class="swiper-slide slide-certificados">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-3">
            <img src="./../../../assets/slide/logo-esea-2017.png" alt="" class="logo-banner">
          </div>
          <div class="col-sm-12 col-md-8" style="display:flex;flex-direction:column;align-items:center;justify-content:center;">
            <p style="font-size: 1.8rem;color:#fff">Certificados do
              <br> 6º Encontro Sergipano de Educação Ambiental
              <br> Disponivel para Download</p>
            <a mat-raised-button [routerLink]="['/certificados']">Baixar certificado</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Add Pagination -->
  <div class="swiper-pagination"></div>
  <!-- Add Arrows -->
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
</swiper>
