.swiper-slide {
  width: 100%;
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.slide-certificados {
  background-color: #3db99d;
  height: 600px !important;
}

.logo-banner {
  max-width: 100%;
  max-height: 300px;
}

@media only screen and (max-width: 480px) {
  swiper {
    width: 100%;
    height: 700px;
    overflow: hidden;
  }
  .swiper-container,
  .swiper-wrapper {
    background-color: #3db99d;
  }
  .slide-certificados[_ngcontent-c11] {
    background-color: #3db99d;
    max-height: 700px !important;
  }
  .swiper-container {
    width: 100%;
    height: 100%;
  }
  .swiper-container .swiper-slide {
    height: 700px !important;
    max-height: 600px !important;
  }
}
