<div class="container-fluid container-header">
  <div class="row">
    <header class="header-paralax header-paralax-sobre">
    </header>
  </div>
</div>

<div class="container body-container">
  <h1>Comissão Organizadora</h1>
  <div class="row">
    <div class="col-md-6">
      <ul>
        <li>
          <strong>Coordenação do Evento</strong>
        </li>
        <li>Prof.ª Dra. Maria Inêz Oliveira Araújo</li>
        <li>DED/ SALA VERDE/GEPEASE</li>
      </ul>
      <ul>
        <li>
          <strong>Comissão Organizadora
            <br> Equipe de Trabalho </strong>
        </li>
        <li>Kelly Francielly Barbosa da Cruz (UFS)</li>
        <li>Mariana Reis Fonseca (UFS)</li>
        <li>Andressa Silva (UFS)</li>
        <li>Jorge Luiz dos Santos (UFS)</li>
        <li>Profa. Nayara Siqueira Melo</li>
      </ul>

      <ul>
        <li>
          <strong>Comissão Divulgação</strong>
        </li>
        <li>Profa. M.Sc. Alana Danielly Vasconcelos (UFS)</li>
        <li>Prof. M.Sc. Anderson de Araújo Reis (UFS)</li>
        <li> Profa. MSc. Daniele Santana de Melo (UFS)</li>
        <li>Profa. MSc. Maria Ivone Santana Melo Paim (UFS)</li>
        <li> Profa. Nayara Siqueira Melo (SEED)</li>
        <li>Profa. M.Sc. Tatiana Ferreira dos Santos (UFS)</li>
      </ul>

      <ul>
        <li>
          <strong>Comissão Financeira</strong>
        </li>
        <li>Profa. Dra. Maria Inêz Oliveira Araújo (UFS)</li>
        <li>Profa. Esp. Maria Ivanilde Meneses de Oliveira (UFS)</li>
        <li>Carlos Anselmo Santos Dias (SEED)</li>
      </ul>

      <ul>
        <li>
          <strong>Comissão Infraestrutura</strong>
        </li>
        <li>Esp. Cherley José da Silva (UFS)</li>
        <li>Profa. Esp. Juliana Barreto Silva Araújo (UFS)</li>
        <li>Profa. M.Sc. Mônica Andrade Modesto (UFS)</li>
        <li>Profa. Dra. Aline Lima de Oliveira Nepomuceno (UFS)</li>
        <li>Prof. M.Sc. Tiago Rozário da Silva (UFPE)</li>
        <li>Prof. Jailton Santos Silva</li>
      </ul>
    </div>
    <div class="col-md-6">
      <ul>
        <li>
          <strong> Vice-Coordenadora</strong>
        </li>
        <li>Prof.ª Dra. Aline Lima de Oliveira Nepomuceno</li>
        <li> DBI/SALA VERDE/GEPEASE</li>
      </ul>

      <ul>
        <li>
          <strong>Comissão Científica</strong>
        </li>
        <li>Profa. Dranda. Alessandra Santana Pereira</li>
        <li>Prof. Dr. Alexandre de Gusmão Pedrini (UERJ)</li>
        <li>Prof. Dr. Marco Antônio Leandro Barzano (UEFS)</li>
        <li>Prof. Dr. Marlécio Maknamara da Silva Cunha (UFBA)</li>
        <li>Prof. Dr. Mauro Guimarães (UFRRJ)</li>
        <li>Prof. Dr. Cae Rodrigues (UFS)</li>
        <li>Prof. Dr. Ângelo Francklin Pitanga (UFS)</li>
        <li>Profa. Dra. Aneide Oliveira Araújo (UFRN)</li>
        <li>Profa. Dra. Anne Alilma Ferrete (UFS)</li>
        <li>Profa. Dra. Carmem Parisotto (UFS)</li>
        <li>Profa. Dra. Isabel Cristina de Maura Carvalho (PUCRS)</li>
        <li>Profa. Dra. Maria Inêz Oliveira Araújo (UFS)</li>
        <li>Profa. Dra. Maria José Nascimento Soares (UFS)</li>
        <li>Profa. Dra. Maria Neide Sobral (UFS)</li>
        <li>Profa. Esp. Maria Ivanilde Meneses de Oliveira (UFS)</li>
        <li>Profa. Dra. Mônica Folena (UFRPE)</li>
        <li>Profa. Dra. Myrna Friederichs Landim de Souza (UFS)</li>
        <li>Profa. Dra. Aline Lima de Oliveira Nepomuceno (UFS)</li>
        <li>Profa. Dra. Rosiléia Oliveira Almeida (UFBA)</li>
        <li>Profa. Dra. Geilsa Costa Santos Baptista (UEFS)</li>
        <li>Profa. Dranda. Tainan Santana Amorim (UFS)</li>
        <li>Profa. Dranda. Mônica Andrade Modesto (UFS)</li>
        <li>Profa. Dranda. Tatiana Ferreira dos Santos (UNESP)</li>
        <li>Profa. MSc. Acássia Cristina de Souza (UFS)</li>
        <li>Profa. MSc. Nádia Batista de Jesus (UFS)</li>
        <li>Profa. MSc. Maria Ivone Santana Melo Paim (UFS)</li>
        <li>Profa. M.Sc. Viviane Almeida Resende (SEED)</li>
        <li>Profa. Dra. Marcia Alexandra Rocca de Andrade (UFS)</li>
        <li>Profa. M.Sc. Edileuza Dias de Queiroz (UFRRJ)</li>
      </ul>
    </div>

  </div>
</div>
