<div class="container-fluid container-header">
  <div class="row">
    <header class="header-paralax header-paralax-sobre">
    </header>
  </div>
</div>


<div class="container body-container">

  <div class="row container-icon-contato">
    <div class="col-md-3">
    </div>

    <div class="col-md-3">
      <div class="contato-icon-container">
        <i class="fas fa-phone"></i>
        <h3>
          Telefone:
          <br>(79) 3194-6422</h3>
      </div>
    </div>

    <div class="col-md-3">
      <div class="contato-icon-container">
        <i class="fas fa-at"></i>
        <h3>
          Email:
          <br> sextoesea@gmail.com
        </h3>

      </div>
    </div>

    <div class="col-md-3">
    </div>

  </div>
  <br>
  <br>

  <form class="row" [formGroup]="formulario" (ngSubmit)="onSubmit($event)">
    <div class="col-md-12">
      <mat-form-field class="form-full-width">
        <input matInput placeholder="Nome" formControlName="nome">
      </mat-form-field>
    </div>

    <div class="col-md-6">
      <mat-form-field class="form-full-width">
        <input matInput placeholder="Email" formControlName="email">
      </mat-form-field>
    </div>

    <div class="col-md-6">
      <mat-form-field class="form-full-width">
        <input matInput placeholder="Telefone" formControlName="telefone">
      </mat-form-field>
    </div>

    <div class="col-md-12">
      <mat-form-field class="form-full-width">
        <textarea matInput placeholder="Mensagem" formControlName="mensagem" rows="4"> </textarea>
      </mat-form-field>
    </div>

    <button mat-raised-button color="primary" type="submit" [disabled]="!formulario.valid">Enviar</button>
  </form>
</div>
