<div class="container-fluid container-header">
  <div class="row">
    <header class="header-paralax header-paralax-sobre">
    </header>
  </div>
</div>

<div class="container body-container">
  <h1>Apresentação</h1>
  <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-ls-12 col-xs-12" style="text-align: justify;">
      <p>Criado em 2005 pela professora Drª Maria Inêz de Oliveira Araújo, com o apoio de outros professores e pesquisadores,
        o Grupo de Estudos e Pesquisas em Educação Ambiental de Sergipe da Universidade Federal de Sergipe – GEPEASE/UFS,
        completa em 2015 10 anos dedicados aos estudos, pesquisas e atividades de extensão tenho como eixo norteador a reflexão
        em torno da Educação Ambiental no estado de Sergipe.</p>

      <p>Inicialmente o grupo foi criado para aprofundamento de estudos do grupo envolvido com o projeto SALA VERDE, contemplado
        como projeto de extensão universitária através de resposta ao Edital do Ministério do Meio Ambiente no ano de 2005.
        O projeto tem como objetivo desenvolver atividades de formação continuada com professores da Rede Pública de Ensino
        de Municípios Sergipanos.</p>

      <p>A partir das atividades da Sala Verde nos município sergipanos, executados através de termo de convênio e parceria
        entre a UFS e as secretarias municipais de educação, a coordenação avaliando em conjunto com os técnicos atuantes
        no projeto, sentiu a necessidade da criação de um curso de especialização em Educação Ambiental que atendesse as
        especificidades da prática docente, para os professores formadores como também para os professores participante do
        projeto Sala Verde.</p>

      <p>Surge então, no ano de 2007, o curso de especialização em Educação Ambiental para professores, modalidade Latu Senso.
        Concomitante a este projeto, técnicos do GEPEASE prosseguem em programas de mestrado e doutorado da UFS e de outras
        e de outras universidades, tendo como ênfase a Educação Ambiental.</p>

      <p>O GEPEASE avança em seus estudos e pesquisas inserindo momentos onde a comunidade universitária e outras instâncias
        da Educação em seus âmbitos formal e não formal são convidados a se inserir no debate. A atuação do grupo tem se
        estendido para outros programas universitários, a exemplo dos Programas de Iniciação à Docência – PIBID; à Pesquisa-
        PIBIC e Extensão – PIBIX. Também não organizados anualmente seminários anuais e a cada 02 anos o Encontro Sergipana
        de Educação Ambiental- ESEA, tendo a EA como eixo norteador das discussões. Ao total foram organizados 09 seminários
        temáticos e 04 encontros com a participação de pesquisadores de vários estados do Brasil.</p>

      <p>
        Planejando o VI Encontro Sergipano de Educação Ambiental que tem como tema: “Políticas públicas ambientais e prática pedagógica
        ” têm como objetivo fomentar o debate sobre quais caminhos os educadores vem buscando para desenvolver sua práticas
        pedagógicas, considerando o modelo de desenvolvimento adotado pela nossa sociedade em que a técnica a fragmentação
        e a exploração do ser humano por outros seres humanos estão cada vez mais presentes. Os anos de estudos pesquisas
        envolvendo a EA, provocou no grupo a inquietação de buscar entender o porquê do avanço dos estudos na área ainda
        não representa um avanço quanto aos cuidados da sociedade consigo, com o outro e destes com o ambiente, mudança de
        mentalidade maior cuidado do ser humano com o ambiente, perecendo-se como parte deste meio.
      </p>

      <p>São convidados para participar do debate todos aqueles interessados em socializar suas experiências com a EA em sua
        diversidade de tendências e abordagens, nos âmbitos formais e não formal. </p>
    </div>
  </div>
</div>
