<h1 class="title">Digite seu CPF no formulário abaixo para encontrar seu certificado.</h1>
<br>
<br>
<mat-form-field class="example-full-width">
  <input matInput placeholder="DIGITE SEU CPF" #cpf type="number" />
</mat-form-field>
<a mat-raised-button color="primary" [routerLink]="['/certificados', cpf.value ]">Buscar</a>
