<div class="row">
  <div class="col-md-12">
    <h3>PROGRAMAÇÃO COMPLETA</h3>
  </div>

  <div class="col-md-12" *ngFor="let programacaoDia of programacaoDias">
    <mat-card class="prog-card">
      <mat-card-header>
        <div mat-card-avatar class="card-header-image">
          <i class="far fa-calendar-alt" data-fa-transform="shrink-8"></i>
        </div>
        <mat-card-title>Dia</mat-card-title>
        <mat-card-subtitle>{{ programacaoDia?.data }} </mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <div class="prog-grup" *ngFor="let programacao of programacaoDia.programacao ">

          <div class="prog prog-titulo">
            <i class="far fa-clock fa-lg"></i> {{programacao?.hora_inicio}} - {{programacao?.hora_final}} |
            <strong>{{ programacao?.titulo }}</strong>
          </div>

          <div class="progDetail prog-tema" *ngIf="programacao.tema">
            <i class="far fa-file-alt"></i>
            <span>Tema: </span> {{ programacao?.tema }}
          </div>

          <div class="progDetail prog-requisitos" *ngIf="programacao.requisitos">
            <i class="fas fa-list-ol"></i>
            <span>Requisitos: </span>{{ programacao?.requisitos }}
          </div>

          <div class="progDetail prog-vagas" *ngIf="programacao.vagas">
            <i class="fas fa-users"></i>
            <span>Vagas: </span> {{programacao?.vagas }}
          </div>

          <div *ngIf="programacao.programacao_ministrantes">
            <div class="progDetail prog-ministrantes" *ngFor="let programacao of programacao.programacao_ministrantes">
              <i class="fas fa-bullhorn"></i>
              <span>Ministrante: </span> {{ programacao?.nome }}
            </div>
          </div>

          <div *ngIf="programacao.programacao_ministrantes">
            <div class="progDetail prog-coordenadores" *ngFor="let programacao of programacao.programacao_coordenadores">
              <i class="fas fa-user"></i>
              <span>Coordenador: </span> {{ programacao?.nome }}
            </div>
          </div>

          <div class="progDetail prog-local" *ngIf="programacao.local">
            <i class="fas fa-map-marker"></i>
            <span>Local: </span> {{programacao?.local}}
          </div>
        </div>

      </mat-card-content>
    </mat-card>
  </div>
</div>
