<div class="container-fluid container-header">
  <div class="row">
    <header class="header-paralax header-paralax-sobre">
    </header>
  </div>
</div>

<div class="container body-container">
  <h1>OFICINAS</h1>
  <div class="row">
    <div class="col-md-12">
      <div class="template-component-list template-component-list-style-4">
        <ul>
          <li>As oficinas ocorrerão nos dias 9 e 10 de novembro, das 8h às 9:30h.</li>
          <li>Seus certificados serão emitidos separadamente da carga total do VI ESEA e somente receberão os participantes que
            obtiverem 100% de presença na respectiva oficina inscrita. </li>
          <li>As inscrições nas oficinas serão realizadas durante o credenciamento do VI ESEA (dia 8 de novembro), respeitando
            o limite de vaga de cada oficina.</li>
          <li>NÃO SERÁ GARANTIDO VAGAS NAS OFICINAS PARA TODOS OS PARTICIPANTES DO VI ESEA. </li>
        </ul>
      </div>

    </div>
    <div class="col-md-6">
      <br>
      <h4>OFICINA 1</h4>
      <p>
        <strong>Reciclagem de papel como ferramenta pedagógica para o ensino de Educação Ambiental</strong>
      </p>
      <div class="template-component-list template-component-list-style-4">
        <ul>
          <li>
            <strong>OBJETIVO: </strong> Compreender a importância do processo de reciclagem do papel como potencial instrumento para
            gestão de Resíduos Sólidos e redução dos impactos socioambientais</li>
          <li>
            <strong>PÚBLICO ALVO: </strong> Professores e interessados na temática</li>
          <li>
            <strong>VAGAS:</strong> Máximo 10 pessoas</li>
          <li>
            <ul>
              <strong>MINISTRANTES: </strong>
              <li>Claudionete Candia Araujo</li>
              <li>Laysa da Hora</li>
              <li>Luiz Ricardo Oliveira Santos</li>
            </ul>
          </li>
          <li>
            <strong>RESUMO: </strong>A atividade busca entender o conceito de Resíduos Sólidos e suas implicações na vida humana
            e seus impactos na natureza, bem como compreender o processo de separação, coleta, coleta seletiva e reciclagem
            como forma de Educação Ambiental para além dos muros escolares.</li>
        </ul>
      </div>
    </div>

    <div class="col-md-6">
      <br>
      <h4>OFICINA 2</h4>
      <p>
        <strong>O HQ como ferramenta pedagógica para o ensino-aprendizagem da Educação Ambiental</strong>
      </p>
      <div class="template-component-list template-component-list-style-4">
        <ul>
          <li>
            <strong>OBJETIVO: </strong> Promover o conhecimento da ferramenta pedagógica denominada história em quadrinhos, assim
            contribuindo com a relação de ensino e/ou aprendizagem de forma lúdica e eficiente.</li>
          <li>
            <strong>PÚBLICO ALVO: </strong> Professores e interessados na temática</li>
          <li>
            <strong>VAGAS:</strong> Máximo 10 pessoas</li>
          <li>
            <ul>
              <strong>MINISTRANTES: </strong>
              <li>Gilmara de Souza Neto</li>
              <li>Odirley Batista Andrade Moreira</li>
            </ul>
          </li>
          <li>
            <strong>RESUMO: </strong>A oficina consiste em elaborar a construção de HQ como atividade prática educativa na construção
            de gibi caseiro sobre Educação Ambiental para alunos da Educação Básica. </li>
        </ul>
      </div>
    </div>

    <div class="col-md-6">
      <br>
      <h4>OFICINA 3</h4>
      <p>
        <strong>A tecnologia em favor da escola: o uso de jogos e aplicativos em benefício da Educação Ambiental</strong>
      </p>
      <div class="template-component-list template-component-list-style-4">
        <ul>
          <li>
            <strong>OBJETIVO: </strong> Despertar no aluno o interesse em associar a informática aos conteúdos trabalhados em sala
            de aula</li>
          <li>
            <strong>PÚBLICO ALVO: </strong> Professores e interessados na temática</li>
          <li>
            <strong>VAGAS:</strong> Máximo 10 pessoas</li>
          <li>
            <ul>
              <strong>MINISTRANTES: </strong>
              <li>Geane Magalhães Monte Salustiano</li>
              <li>Flávia Moura Pereira Leal</li>
              <li>Valtenisson Correa de Oliveira</li>
            </ul>
          </li>
          <li>
            <strong>RESUMO: </strong>O uso constante de jogos e aplicativos em mídias móveis, desperta o interesse do público estudantil,
            pensando nessa perspectiva, trabalhar a tecnologia em favor do processo ensino-aprendizagem, a oficina propõe
            associar teoria e prática tecnológica como ferramenta para o uso em Educação Ambiental</li>
        </ul>
      </div>
    </div>

    <div class="col-md-6">
      <br>
      <h4>OFICINA 4</h4>
      <p>
        <strong>Oficinas Ecopedagógicas no Ensino da Educação Ambiental Marinha</strong>
      </p>
      <div class="template-component-list template-component-list-style-4">
        <ul>
          <li>
            <strong>OBJETIVO: </strong> Promover a sensibilização sobre a necessidade da abordagem da Educação Ambiental no ensino
            básico; Apresentar os diversos conceitos de Educação Ambiental existentes; Apresentar e aplicar Oficinas Ecopedagógicas
            que auxiliam na promoção da Educação Ambiental Marinha.</li>
          <li>
            <strong>PÚBLICO ALVO: </strong> Professores e interessados na temática</li>
          <li>
            <strong>VAGAS:</strong> Máximo 10 pessoas</li>
          <li>
            <ul>
              <strong>MINISTRANTES: </strong>
              <li>Lucas Otávio Guimarães Moura</li>
            </ul>
          </li>
          <!-- li><strong>RESUMO: </strong>O uso constante de jogos e aplicativos em mídias móveis, desperta o interesse do público
              estudantil, pensando nessa perspectiva, trabalhar a tecnologia em favor do processo ensino-aprendizagem, a
              oficina propõe associar teoria e prática tecnológica como ferramenta para o uso em Educação Ambiental</li -->
        </ul>
      </div>
    </div>

    <div class="col-md-6">
      <br>
      <h4>OFICINA 5</h4>
      <p>
        <strong>Metodologias para elaboração de diagnóstico rápido participativo (DRP) e planejamento participativo (PP)</strong>
      </p>
      <div class="template-component-list template-component-list-style-4">
        <ul>
          <li>
            <strong>OBJETIVO: </strong> Oferecer subsídios teórico-metodológicos para aplicação de metodologias participativas no
            trabalho pedagógico envolvendo, elaboração e revisão do Projeto Político Pedagógico, organização da Agenda 21
            e outros processos de gestão no âmbito da Educação Formal e Não Formal</li>
          <li>
            <strong>PÚBLICO ALVO: </strong> Professores e interessados na temática</li>
          <li>
            <strong>VAGAS:</strong> Máximo 20 pessoas</li>
          <li>
            <ul>
              <strong>MINISTRANTES: </strong>
              <li>Maria Ivanilde Meneses de Oliveira</li>
            </ul>
          </li>
          <li>
            <strong>RESUMO: </strong>Conceito de Participação. Diagnóstico Rápido Participativo. Planejamento Participativo. Ferramentas
            metodológicas para DRP e PP.</li>
        </ul>
      </div>
    </div>


    <div class="col-md-6">
      <br>
      <h4>OFICINA 6</h4>
      <p>
        <strong>A prática de projetos educacionais metodológicos nas escolas com ênfase na educação ambiental</strong>
      </p>
      <div class="template-component-list template-component-list-style-4">
        <ul>
          <li>
            <strong>OBJETIVO: </strong> Promover inovações nas práticas metodológicas educacionais com ênfase na educação ambiental;
          </li>
          <li>
            <strong>PÚBLICO ALVO: </strong> Professores e interessados na temática</li>
          <li>
            <strong>VAGAS:</strong> Máximo 20 pessoas</li>
          <li>
            <ul>
              <strong>MINISTRANTES: </strong>
              <li>Nayara Siqueira Melo</li>
            </ul>
          </li>
          <li>
            <strong>RESUMO: </strong>
            <p>A Educação Ambiental deve ser entendida como um processo onde a participação e envolvimento de todos é muito
              importante: família, escola e comunidade, devem estar envolvidas. Este minicurso tem a finalidade de procurar,
              despertar uma consciência crítica sobre as questões ambientais, assim como metodologias diferenciadas para
              a pratica de projetos educacionais.
              <p>
                <p>Espera-se proporcionar aos professores e alunos informações sobre educação ambiental, as quais irão fortalecer
                  a pratica desta e de outras atividades possíveis.</p>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-md-6">
      <br>
      <h4>OFICINA 7</h4>
      <p>
        <strong>Pensando a Educação Ambiental para a intervenção: perspectivas para elaboração de projeto</strong>
      </p>
      <div class="template-component-list template-component-list-style-4">
        <ul>
          <li>
            <strong>OBJETIVO: </strong> Explanar perspectivas norteadoras que subsidiem a elaboração de projetos de Educação Ambiental
            voltados para a intervenção;</li>
          <li>
            <strong>PÚBLICO ALVO: </strong> Professores e interessados na temática</li>
          <li>
            <strong>VAGAS:</strong> Máximo 15 pessoas</li>
          <li>
            <ul>
              <strong>MINISTRANTES: </strong>
              <li>Me. Daniele Santana de Melo</li>
              <li>Dranda. Mônica Andrade Modesto</li>
              <li>Dranda. Tatiana Ferreira dos Santos</li>
            </ul>
          </li>
          <li>
            <strong>RESUMO: </strong>
            <p>Pensar a Educação Ambiental é também pensar nas possibilidades de intervenção social e comunitária que dela são
              provenientes e que trazem consigo a capacidade de transformação de realidades. Nessa direção, compreender como
              se elaboram projetos de intervenção e possíveis estratégias metodológicas para seu desenvolvimento é um caminho
              importante e necessário para a construção de propostas para o enfrentamento de problemas socioambientais. Desse
              modo, esta oficina é destinada a todos que têm interesse nesse campo de discussão com foco na ampliação da
              perspectiva metodológica que permeia a Educação Ambiental.</p>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-md-6">
      <br>
      <h4>OFICINA 8</h4>
      <p>
        <strong>Pensar o ambiente à luz da influência da acidez nos ecossistemas e na saúde humana, como possibilidade de prática
          pedagógica interdisciplinar</strong>
      </p>
      <div class="template-component-list template-component-list-style-4">
        <ul>
          <li>
            <strong>OBJETIVO: </strong>
            <p>- Ilustrar o conceito químico do pH e sua influência para a saúde humana e os ecossistemas aquáticos;</p>
            <p>- Determinar o pH de substâncias que utilizamos em nosso cotidiano por meio de uma escala gradual de cores utilizando
              como indicado o suco de repolho roxo.</p>
          </li>
          <li>
            <strong>PÚBLICO ALVO: </strong>Professores da Educação Básica e alunos da 2ª série do Ensino Médio.
          </li>
          <li>
            <strong>VAGAS:</strong> Máximo 10 pessoas</li>
          <li>
            <ul>
              <strong>MINISTRANTES: </strong>
              <li>Diego Silva Souza</li>
              <li>Felipe da Fonseca Souza</li>
              <li>Maria José da Silva Souza</li>
              <li>Mariana Morais Azevedo</li>
            </ul>
          </li>
          <li>
            <strong>RESUMO: </strong>
            <p>Esta atividade busca ilustrar os conceitos de pH através da interdisciplinaridade entre a educação física e a
              biologia, buscando não somente o conceito químico como a importância de conhecer o pH e saber qual a influência
              que ele poderá trazer ao meio ambiente ou à saúde humana.</p>
          </li>
        </ul>
      </div>
    </div>


  </div>
</div>
