<div class="row container-realizacao">
  <div class="col-md-12">
    <div class="template-component-header-subheader">
      <h1 class="title">Parceiros</h1>
    </div>
  </div>

  <img src="../../../assets/parceiros/12.png" class="img-fluid">

  <a href="http://www.ceatlantico.com.br/" target="_blank">
    <img src="../../../assets/parceiros/02.jpg" class="img-fluid">
  </a>

  <a href="http://www.ibem.org.br/" target="_blank">
    <img src="../../../assets/parceiros/03.jpg" class="img-fluid">
  </a>

  <a href="https://www.sigaa.ufs.br/sigaa/public/programa/portal.jsf?id=136" target="_blank">
    <img src="../../../assets/parceiros/06.jpg" class="img-fluid">
  </a>

  <img src="../../../assets/parceiros/07.png" class="img-fluid">

  <img src="../../../assets/parceiros/08.png" class="img-fluid">

  <img src="../../../assets/parceiros/09.png" class="img-fluid">

  <img src="../../../assets/parceiros/10.png" class="img-fluid">

  <img src="../../../assets/parceiros/13.png" class="img-fluid">

  <img src="../../../assets/parceiros/14.png" class="img-fluid">


</div>
