<div class="container-fluid container-header">
  <div class="row">
    <header class="header-paralax header-paralax-sobre">
    </header>
  </div>
</div>

<div class="container body-container">
  <h1>Programação</h1>
  <div class="row">
    <div class="col-12 col-sm-12 col-md-12">
      <p style="font-size: 1.2rem;">Apresentação de trabalhos de pesquisa e relatos de experiência em educação ambiental, conferências, mesas redondas,Grupos
        de Trabalho (GT)</p>

      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th style="width: 150px;">Horários</th>
              <th>08/11/17</th>
              <th>09/11/17</th>
              <th>10/11/17</th>
              <th width="130">11/11/17</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th class="align-middle text-center">8:00h - 9:30h</th>
              <td>-</td>
              <td>
                <strong>Oficinas</strong>
              </td>
              <td>
                <strong>Oficinas</strong>
              </td>
              <td rowspan="2">Pós ESEA Seminário Interno da Sala Verde UFS - 2017</td>
            </tr>
            <tr>
              <th class="align-middle text-center">9:30h - 12:00h</th>
              <td>-</td>
              <td>
                <strong> Mesa-redonda I</strong>
                <ul style="text-align: left;">
                  <li>
                    <strong>Tema:</strong> Educação Ambiental, Políticas Públicas e Práticas Educativas</li>
                  <li>
                    <strong>Ministrantes:</strong>
                    <ul>
                      <li>Profa. Elane Alvarenga (SEMARH)</li>
                      <li>Profa. Cristiane Barreto (SEED)</li>
                      <li>Profa. Dra. Aline Lima de Oliveira Nepomuceno (DBI/UFS)</li>
                    </ul>
                  </li>
                  <li>
                    <strong>Coord:</strong>Prof. Waldson Costa (PRODEMA/UFS)</li>
                </ul>
              </td>
              <td>
                <strong> Mesa-redonda II </strong>
                <ul style="text-align: left;">
                  <li>
                    <strong>Tema:</strong> Políticas Públicas Ambientais e Diversidade</li>
                  <li>
                    <strong>Ministrantes:</strong>
                    <ul style="text-align: left;">
                      <li>Profa. Dra. Maria Helena (PPGED/UFS)</li>
                      <li>Prof. Dr. Hippolyte Brice Sogbossi (DCS/UFS)</li>
                      <li>Profa. Dra. Sônia Meire (DED/UFS)</li>
                    </ul>
                  </li>
                  <li>
                    <strong>Coord.:</strong>Profa. M.Sc. Monica Modesto (PPGED/UFS)</li>
                </ul>
              </td>
            </tr>
            <tr>
              <th class="align-middle text-center">12:00h - 14:00h</th>
              <td>Almoço</td>
              <td>Almoço</td>
              <td>Almoço</td>
              <td>Almoço</td>
            </tr>
            <tr>
              <th class="align-middle text-center">14:00h -17:00h</th>
              <td>
                <strong>Credenciamento/Recepção*</strong>
              </td>
              <td>
                <strong>Grupos de Trabalho - GT`s</strong>
              </td>
              <td>
                <strong>Grupos de Trabalho - GT`s</strong>
              </td>
              <td> - </td>
            </tr>
            <tr>
              <th class="align-middle text-center">17:00h - 18:00h</th>
              <td>
                <strong>Abertura Oficial do Evento</strong>
                <p>Banda de Música da EMEF José Conrado de Araújo</p>
              </td>
              <td>
                <strong> LANÇAMENTO DE LIVROS</strong>
                <p>Grupo Musical da Fundação Renascer do Estado de Sergipe</p>
              </td>
              <td>
                <strong> Conferência de Encerramento </strong>
                <ul style="text-align: left;">
                  <li>
                    <strong>Palestrantes: </strong>
                    <ul>
                      <li>Profa. Dra. Monica Lopes Folena Araújo (UFRPE)</li>
                      <li>Prof. Dr. Antonio Vital Menezes de Sousa (DED/UFS)</li>
                    </ul>
                  </li>
                  <li>
                    <strong>Coord:</strong>Profa. Dra. Maria Inêz Oliveira Araujo (DED/UFS)
                  </li>
                </ul>
              </td>
              <td> - </td>
            </tr>
            <tr>
              <th class="align-middle text-center">18:00h - 20:00h</th>
              <td>
                <strong>Conferência de Abertura</strong>
                <ul style="text-align: left;">
                  <li>
                    <strong>Tema:</strong> EA no contexto dos retrocessos ambientais da atualidade</li>
                  <li>
                    <strong>Palestrante:</strong>Prof. Dr. Phillip Layrargues (UNB)</li>
                  <li>
                    <strong>Coord.:</strong>Profa. Dra. Maria José Soares (DED/UFS)</li>
                </ul>
              </td>
              <td> - </td>
              <td>
                <strong>Sessão de Encerramento</strong>
                <p>Grupo de Flautas de alunos do município de Divina Pastora</p>
              </td>
              <td>-</td>
            </tr>
          </tbody>
        </table>
      </div>
      <p>* Será necessária para cada participante inscrito(a) a entrega de 1 kg de alimento não perecível</p>
    </div>

  </div>
</div>
