<div class="container  body-container">
  <div class="row">
    <div *ngIf="evento?.imgUrl" class="col-md-12 eventos-img-header-container">
      <img class="" src="./../../assets/anais/esea-i/banner-header/{{evento?.imgUrl}}" alt="{{ evento?.titulo }}" class="img-fluid">
    </div>
  </div>

  <div class="row">
    <div class="col-md-10">
      <router-outlet></router-outlet>
    </div>
    <div class="col-md-2">
      <ul class="menu-eventos-anteriores">
        <li>
          <a mat-raised-button [routerLink]="['apresentacao']"> Apresentacao </a>
        </li>
        <li>
          <a mat-raised-button [routerLink]="['programacao-old']"> Programação </a>
        </li>
        <li>
          <a mat-raised-button [routerLink]="['comissao']"> Comissão </a>
        </li>
      </ul>
    </div>
  </div>
</div>
