<div class="container-fluid container-header">
  <div class="row">
    <header class="header-paralax header-paralax-sobre">
    </header>
  </div>
</div>

<div class="container body-container">
  <h1>EQUIPE EDITORIAL</h1>
  <div class="row">
    <div class="col-md-12">
      <p>
        <strong>Editor Científico Nacional</strong>
      </p>
      Profa. Dra. Maria Inêz Oliveira Araújo
      <p>
        <strong>Conselho Editorial</strong>
      </p>
      <p>
        <strong>Professores(as) Doutores(as)</strong>
      </p>
    </div>


    <div class="col-md-6">
      <ul>
        <li>Alexandre de Gusmão Pedrini (UERJ)</li>
        <li>Marco Antônio Leandro Barzano (UEFS)</li>
        <li>Marlécio Maknamara da Silva Cunha (UFRN)</li>
        <li>Ângelo Franclin Pitanga (IFBA)</li>
        <li>Mauro Guimarães (UFRRJ)</li>
        <li> Cae Rodrigues (UFS) </li>
        <li> Aneide Oliveira Araújo (UFRN) </li>
        <li> Anne Alilma Ferrete (UFS) </li>
        <li> Ana Catarina Lima de Oliveira Machado (IFS) </li>
      </ul>
    </div>

    <div class="col-md-6">
      <ul>
        <li>Carmem Parisotto (UFS)</li>
        <li>Maria Inêz Oliveira Araújo (UFS)</li>
        <li>Maria José Nascimento Soares (UFS)</li>
        <li>Maria Neide Sobral (UFS)</li>
        <li>Mônica Folena (UFRPE)</li>
        <li>Michele Sato (UFMT)</li>
        <li>Myrna Friederichs Landim de Souza (UFS)</li>
        <li>Aline Lima de Oliveira Nepomuceno (UFS)</li>
      </ul>
    </div>

    <div class="col-md-12">
      <p>
        <strong>Pareceristas Ad Hoc 2017</strong>
      </p>
    </div>
  </div>
</div>
