<div class="container-fluid container-header">
  <div class="row">
    <header class="header-paralax header-paralax-sobre">
    </header>
  </div>
</div>


<div class="container body-container">
  <h1>Trabalhos Aprovados</h1>
  <div class="table-responsive">
    <table class="table table-bordered text-center">
      <tbody>
        <tr>
          <td width="600px">
            <p>
              <strong>T&iacute;tulo do Trabalho</strong>
            </p>
          </td>
          <td>
            <p>
              <strong>Autor(es)</strong>
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <p>Degrada&ccedil;&atilde;o do manguezal influenciada pelo uso do solo no munic&iacute;pio de Roteiro-AL: subs&iacute;dios
              para a Educa&ccedil;&atilde;o Ambiental</p>
          </td>
          <td>
            <p>Beatriz Alves Ribeiro</p>
            <p>Janiele Pulquerio Santos</p>
            <p>Alexandre Ricardo de Oliveira</p>
            <p>Milena Dutra da Silva</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>Educa&ccedil;&atilde;o em sa&uacute;de ambiental: Conhecendo o
              <em>Aedes aegypti </em>e suas implica&ccedil;&otilde;es</p>
          </td>
          <td>
            <p>Jos&eacute; Jailson Santos Rodrigues</p>
            <p>Josefa Gilvanda de Moura Santos Neta</p>
            <p>Isabela Santos Correia Rosa</p>
          </td>
        </tr>
        <tr>
          <td>
            Impactos ambientais e socioculturais causados pelas ind&uacute;strias de cer&acirc;micas vermelhas da cidade de Itabaianinha
            (SE)
          </td>
          <td>
            <p>Jociv&acirc;nia dos Santos Nascimento</p>
            <p>Maria Telma Santos de Sena</p>
            <p>Karina Sales Vieira</p>
            <p>Tiago Roz&aacute;rio da Silva</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>Panorama Anal&iacute;tico no &Acirc;mbito das Pol&iacute;ticas P&uacute;blicas de Educa&ccedil;&atilde;o Ambiental:
              Ran&ccedil;os e Avan&ccedil;os.</p>
          </td>
          <td>
            <p>Leandro dos Santos</p>
            <p>Vanessa de Souza Fran&ccedil;a</p>
            <p>Monise Mota dos Santos Costa</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>O lixo nosso de cada dia: An&aacute;lise das a&ccedil;&otilde;es de educa&ccedil;&atilde;o ambiental da Secretaria
              Municipal de Meio Ambiente (SEMA) em Aracaju/SE, ante a problem&aacute;tica do descarte dos res&iacute;duos
              s&oacute;lidos.
            </p>
          </td>
          <td>
            <p>Carlos Miranda da Silva</p>
            <p>Juliana Lopes Souza</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>Educa&ccedil;&atilde;o Ambiental Cr&iacute;tica, controle social e participa&ccedil;&atilde;o popular: A luta
              por direitos e justi&ccedil;a social</p>
          </td>
          <td>
            <p>Leandro Sacramento Santos</p>
            <p>Jorge Edson Santos</p>
            <p>Rane Gomes do Nascimento</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>O necess&aacute;rio di&aacute;logo Universidade-Educa&ccedil;&atilde;o Ambiental na forma&ccedil;&atilde;o de
              professores
            </p>
          </td>
          <td>
            <p>Monica Lopes Folena Ara&uacute;jo</p>
            <p>Maria In&ecirc;z Oliveira Ara&uacute;jo</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>Educa&ccedil;&atilde;o Ambiental em Aracaju &ndash; SE: Relato de Experi&ecirc;ncia na Execu&ccedil;&atilde;o
              do Eixo 1 do Programa Amigos do Meio Ambiente</p>
          </td>
          <td>
            <p>Cleverton Costa Silva</p>
            <p>Raphaella Ribeiro Andrade</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>Educa&ccedil;&atilde;o Ambiental extens&atilde;o da escola para a comunidade</p>
          </td>
          <td>
            <p>Bruna Isabel Menezes Santos</p>
            <p>Jociele Oliveira Baisa Assmar</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>Proposta do jogo did&aacute;tico &ldquo;Trilha Ecol&oacute;gica&rdquo; como ferramenta para a Educa&ccedil;&atilde;o
              Ambiental
            </p>
          </td>
          <td>
            <p>Isabela Mayara dos Santos</p>
            <p>Ana Paula dos Santos D&oacute;rea</p>
            <p>&Eacute;lida Oliveira da Concei&ccedil;&atilde;o</p>
            <p>&Eacute;rika Cristina Teixeira dos Anjos</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>&nbsp;Desafios &agrave; Educa&ccedil;&atilde;o Ambiental na Escola estadual Jo&atilde;o Ribeiro, Laranjeiras,
              Sergipe
            </p>
          </td>
          <td>
            <p>J&eacute;ssica de Carvalho Leite</p>
            <p>N&uacute;bia Dias dos Santos</p>
            <p>&nbsp;Laysa da Hora Santos</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>A metodologia da problematiza&ccedil;&atilde;o no contexto da Educa&ccedil;&atilde;o B&aacute;sica: Poss&iacute;veis
              caminhos para a forma&ccedil;&atilde;o de reeditores ambientais</p>
          </td>
          <td>
            <p>Luiz Ricardo Oliveira Santos</p>
            <p>Jailton de Jesus Costa</p>
            <p>Rosemeri Melo e Souza</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>Reflex&otilde;es sobre o Ensino de Matem&aacute;tica a partir da rela&ccedil;&atilde;o entre Etnomatem&aacute;tica
              e a Educa&ccedil;&atilde;o Ambiental Cr&iacute;tica</p>
          </td>
          <td>
            <p>Rodrigo Bozi Ferrete</p>
            <p>Anne Alilma Silva Souza Ferrete</p>
            <p>Cassio Magno de Sousa</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>Uma proposta de implanta&ccedil;&atilde;o de coleta seletiva no condom&iacute;nio recanto verde, Aracaju-SE</p>
          </td>
          <td>
            <p>Mayane Menezes Santos</p>
            <p>&Acirc;ngelo Francklin Pitanga</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>Pr&aacute;ticas de Educa&ccedil;&atilde;o Ambiental: Concep&ccedil;&otilde;es e desafios</p>
          </td>
          <td>
            <p>Edilma Jesus</p>
            <p>Jaciara Silva Fonseca</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>A Educa&ccedil;&atilde;o Ambiental no col&eacute;gio estadual Armindo Guaran&aacute;, S&atilde;o Crist&oacute;v&atilde;o/SE</p>
          </td>
          <td>
            <p>Adeilton dos Santos</p>
            <p>Aline Lima de Oliveira Nepomuceno</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>Sensibiliza&ccedil;&atilde;o dos discentes da Escola Correia Titara, Pia&ccedil;abu&ccedil;u -AL, para a preserva&ccedil;&atilde;o
              do ecossistema Manguezal</p>
          </td>
          <td>
            <p>Maria Carolina Lima Farias
              <br/> Luc&eacute;lia Lima Farias</p>
            <p>Alexandre Ricardo de Oliveira</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>Um olhar sobre a utiliza&ccedil;&atilde;o do tema &ldquo;Educa&ccedil;&atilde;o Ambiental&rdquo; pelos professores
              de Ci&ecirc;ncias do munic&iacute;pio de Aracaju-SE</p>
          </td>
          <td>
            <p>Crislaine Suellen Santos De Ara&uacute;jo</p>
            <p>Luzia Cristina de Melo Santos Galv&atilde;o</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>Log&iacute;stica reversa e a constru&ccedil;&atilde;o civil em Aracaju: Um desafio para a Educa&ccedil;&atilde;o
              Ambiental
            </p>
          </td>
          <td>
            <p>Diandra Aline Santos Silva Leisit&acirc;nia Nery Teixeira</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>Impactos antropog&ecirc;nicos no munic&iacute;pio de Itapicuru &ndash; BA oriundos do cultivo do eucalipto</p>
          </td>
          <td>
            <p>Gabriela Lima dos Santos</p>
            <p>Felippe Pessoa de Melo</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>Educa&ccedil;&atilde;o Ambiental e a &ldquo;Desinvisibiliza&ccedil;&atilde;o&rdquo; da comunidade do povoado
              Ribeira no processo de gest&atilde;o ambiental do PARNASI</p>
          </td>
          <td>
            <p>Luanne Michella Bispo Nascimento</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>A import&acirc;ncia da Educa&ccedil;&atilde;o Ambiental na redu&ccedil;&atilde;o do descarte irregular de embalagens
              de agrot&oacute;xicos no Projeto de Assentamento Rosa de Luxemburgo II, S&atilde;o Crist&oacute;v&atilde;o/
              SE
            </p>
          </td>
          <td>
            <p>Ana Carolina Vilar Lessa</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>Saberes tradicionais e uso de fitoter&aacute;picos no alto sert&atilde;o sergipano: plantas medicinais da caatinga
              e suas indica&ccedil;&otilde;es</p>
          </td>
          <td>
            <p>Helo&iacute;sa Tha&iacute;s Rodrigues de Souza</p>
            <p>Douglas Vieira Gois</p>
            <p>Wandison Silva Ara&uacute;jo</p>
            <p>Rosemeri Melo e Souza.</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>Bio&eacute;tica e educa&ccedil;&atilde;o ambiental: trilhas para um futuro poss&iacute;vel</p>
          </td>
          <td>
            <p>Tatiana Ferreira dos Santos</p>
            <p>Helen Barbosa Raiz Engler</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>As contribui&ccedil;&otilde;es da Educomunica&ccedil;&atilde;o para o Fortalecimento de Comunidades Tradicionais
              Pesqueiras
            </p>
          </td>
          <td>
            <p>Priscila de Souza Viana</p>
            <p>&Iacute;ris Brito Lopes</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>&ldquo;Muro das lamenta&ccedil;&otilde;es&rdquo; e a &ldquo;&Aacute;rvore dos sonhos&rdquo; como metodologia
              inicial na elabora&ccedil;&atilde;o da Agenda 21 do Col&eacute;gio Estadual C&iacute;cero Bezerra, Nossa Senhora
              da Gl&oacute;ria/SE.</p>
          </td>
          <td>
            <p>Ana Catarina Lima de Oliveira Machado</p>
            <p>Elson Emanuel Melo Sousa</p>
            <p>Mateus de Carvalho Furtado</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>O ICMS ecol&oacute;gico como agente de promo&ccedil;&atilde;o da sustentabilidade ambiental no estado de Sergipe</p>
          </td>
          <td>
            <p>Adriano Morais Araujo</p>
            <p>Iana Clarissa Oliveira Nunes</p>
            <p>Josu&eacute; Candido da Silva Junior</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>Continuidade e Interdisciplinaridade: desafios da pr&aacute;tica da Educa&ccedil;&atilde;o Ambiental no col&eacute;gio
              estadual Hamilton Alves Rocha</p>
          </td>
          <td>
            <p>Patr&iacute;cia Carvalho Leal</p>
            <p>Ana Karina Santana Martins</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>O desenvolvimento da Educa&ccedil;&atilde;o Ambiental a partir de livros did&aacute;ticos de matem&aacute;tica:
              possibilidades e desafios</p>
          </td>
          <td>
            <p>Iana Clarissa Oliveira Nunes</p>
            <p>Adriano Morais Araujo</p>
            <p>Ana Karina Santana Martins</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>Educa&ccedil;&atilde;o Ambiental para a participa&ccedil;&atilde;o social</p>
          </td>
          <td>
            <p>Diego Silva Souza</p>
            <p>Mariana Morais Azevedo</p>
            <p>An&eacute;zia Maria Fons&ecirc;ca Barbosa</p>
            <p>Jefferson Arlen Freitas</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>Pr&aacute;ticas de Educa&ccedil;&atilde;o Ambiental em assentamentos de reforma agr&aacute;ria no semi&aacute;rido
              sergipano
            </p>
          </td>
          <td>
            <p>Helo&iacute;sa Tha&iacute;s Rodrigues de Souza</p>
            <p>Helder T&uacute;lio Rodrigues de Souza</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>Pr&aacute;ticas Educativas na Educa&ccedil;&atilde;o Ambiental: experi&ecirc;ncias te&oacute;rico-pr&aacute;ticas
              no Col&eacute;gio Estadual Bar&atilde;o de Mau&aacute;</p>
          </td>
          <td>
            <p>&Eacute;lida Oliveira da Concei&ccedil;&atilde;o</p>
            <p>Isabela Mayara dos Santos</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>O di&aacute;logo entre saberes e o desenvolvimento da Educa&ccedil;&atilde;o Ambiental: Uma conex&atilde;o necess&aacute;ria
            </p>
          </td>
          <td>
            <p>Fabiana Rodrigues da Cruz Santos</p>
            <p>Ana Karina Santana Martins</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>&Aacute;guas de pertencimento: Um estudo sobre percep&ccedil;&atilde;o e pr&aacute;tica de Educa&ccedil;&atilde;o
              Ambiental
            </p>
          </td>
          <td>
            <p>Rejane Santos Oliveira</p>
            <p>Maria Ivanilde Meneses</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>Educa&ccedil;&atilde;o Ambiental em uma escola ribeirinha do munic&iacute;pio de Est&acirc;ncia, Sergipe</p>
          </td>
          <td>
            <p>Camila Silva Ramos</p>
            <p>Sindiany Suelen Caduda dos Santos</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>Forma&ccedil;&atilde;o continuada de professores em Educa&ccedil;&atilde;o Ambiental: desafios do projeto sala
              verde &ndash; UFS</p>
          </td>
          <td>
            <p>Maria Ivanilde Meneses de Oliveira</p>
            <p>Andressa da Silva</p>
            <p>Kelly Francielly Barbosa da Cruz</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>Educa&ccedil;&atilde;o Ambiental na forma&ccedil;&atilde;o do engenheiro agr&ocirc;nomo reflex&otilde;es &agrave;
              luz do materialismo hist&oacute;rico dial&eacute;tico</p>
          </td>
          <td>
            <p>&nbsp;Cirdes Nunes Moreira</p>
            <p>Monica Lopes Folena Ara&uacute;jo</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>Escolas Sustent&aacute;veis em Ros&aacute;rio do Catete &ndash; SE: Constru&ccedil;&atilde;o coletiva em prol
              de uma educa&ccedil;&atilde;o ambiental cr&iacute;tica e emancipador</p>
          </td>
          <td>
            <p>Alciana Paulino</p>
            <p>Gabriel Guadalupe</p>
            <p>Heloize Montowski</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>&ldquo;Culturaliza&ccedil;&atilde;o&rdquo; ambiental na escola: desenvolvendo a Educa&ccedil;&atilde;o Ambiental
              no E.M.E.F. S&eacute;rgio Francisco da Silva</p>
          </td>
          <td>
            <p>Luanne Michella Bispo Nascimento</p>
            <p>C&eacute;lio Roberto de Farias</p>
            <p>Maria Cord&eacute;lia de Oliverira Rosa</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>Relato de Experi&ecirc;ncia: Educa&ccedil;&atilde;o Ambiental nas atividades did&aacute;ticas em est&aacute;gio
              supervisionado com as crian&ccedil;as do 2&ordm; ano do Ensino Fundamental</p>
          </td>
          <td>
            <p>Andr&eacute;a Rita Santana Santos</p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
