<div class="row container-parceiros">
  <div class="col-md-12">
    <div class="template-component-header-subheader">
      <h1 class="title">Realização</h1>
    </div>
  </div>

  <a href="http://www.ufs.br/" target="_blank">
    <img src="../../../assets/parceiros/05.jpg">
  </a>

  <a href="http://www.sociedadesemear.org.br/" target="_blank">
    <img src="../../../assets/parceiros/04.jpg">
  </a>

  <img src="../../../assets/parceiros/01.jpg">

  <img src="../../../assets/parceiros/11.png">

</div>
