<footer class="container-fluid page-footer">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-4 container-creativecommons">
        <img src="./../../../assets/logo/logo-header-170x80.png" alt="">
        <div class="container-creativecommons-link">
          <div class="imagem">
            <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/">
              <img alt="Licença Creative Commons" src="https://i.creativecommons.org/l/by-nc-nd/4.0/88x31.png" />
            </a>
          </div>
          <div class="texto">
            <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/" class="texto">
              Este trabalho está licenciado com uma Licença Creative Commons - Atribuição-NãoComercial-SemDerivações 4.0 Internacional.
            </a>
          </div>
        </div>
      </div>

      <div class="col-6 col-sm-6 col-md-4 container-menu-footer">
        <mat-list class="">
          <mat-list-item>
            <a mat-button [routerLink]="['home']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">Home</a>
          </mat-list-item>
          <mat-list-item>
            <a mat-button [routerLink]="['certificados']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">Certificados</a>
          </mat-list-item>
          <mat-list-item>
            <a mat-button [routerLink]="['apresentacao']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">Apresentação</a>
          </mat-list-item>
          <mat-list-item>
            <button mat-button [matMenuTriggerFor]="menuUm">
              Programação
              <i class="fas fa-caret-down"></i>
            </button>
            <mat-menu #menuUm="matMenu">
              <a mat-menu-item [routerLink]="['/programacao']" [routerLinkActiveOptions]="{exact:true}" [routerLinkActive]="['active']">Programação</a>
              <a mat-menu-item [routerLink]="['/oficinas']" [routerLinkActiveOptions]="{exact:true}" [routerLinkActive]="['active']">Oficinas</a>
            </mat-menu>
          </mat-list-item>
          <mat-list-item>
            <button mat-button [matMenuTriggerFor]="menuDois">
              Inscrições
              <i class="fas fa-caret-down"></i>
            </button>
            <mat-menu #menuDois="matMenu">
              <a mat-menu-item [routerLinkActiveOptions]="{exact:true}" [routerLinkActive]="['active']" [routerLink]="['/inscricoes']">Inscrições para o Evento</a>
              <a mat-menu-item [routerLinkActiveOptions]="{exact:true}" [routerLinkActive]="['active']" [routerLink]="['/submissao-de-trabalhos']">Normas de Submissão</a>
            </mat-menu>
          </mat-list-item>
          <mat-list-item>
            <button mat-button [matMenuTriggerFor]="menuTres">
              Trabalhos Aprovados
              <i class="fas fa-caret-down"></i>
            </button>
            <mat-menu #menuTres="matMenu">
              <a mat-menu-item [routerLinkActiveOptions]="{exact:true}" [routerLinkActive]="['active']" [routerLink]="['/trabalhos-aprovados']">Trabalhos Aprovados</a>
              <a mat-menu-item [routerLinkActiveOptions]="{exact:true}" [routerLinkActive]="['active']" [routerLink]="['/indexacao']">Indexação</a>
            </mat-menu>
          </mat-list-item>
        </mat-list>
      </div>

      <div class="col-6 col-sm-6 col-md-4 container-menu-footer">
        <mat-list class="">
          <mat-list-item>
            <a mat-button [routerLink]="['comissao']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">Comissões</a>
          </mat-list-item>
          <mat-list-item>
            <a mat-button [routerLink]="['editorial']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">Equipe Editorial</a>
          </mat-list-item>
          <mat-list-item>
            <a mat-button [routerLink]="['eventos-anteriores']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">Eventos Anteriores</a>
          </mat-list-item>
          <mat-list-item>
            <a mat-button [routerLink]="['contato']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">Contato</a>
          </mat-list-item>
        </mat-list>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">

      <div class="container-copyright">
        ©&nbsp; 2018 Copyright GEPEASE
      </div>

      <div class="conteiner-contador">
        <div style="float:left;padding: 0 10px;"> Visitantes: </div>
        <a href="http://www.reliablecounter.com" target="_blank">
          <img src="http://www.reliablecounter.com/count.php?page=gepease.com.br&digit=style/plain/6/&reloads=0" alt="" title="" border="0">
        </a>
        <br />
        <a href="http://" target="_blank" style="font-family: Geneva, Arial; font-size: 8x; color: #330010; text-decoration: none;"></a>
      </div>

    </div>
  </div>
</footer>
