<div class="container-fluid container-header">
  <div class="row">
    <header class="header-paralax header-paralax-sobre">
    </header>
  </div>
</div>

<div class="container  body-container">
  <h1>Inscrições no Evento</h1>
  <div class="row">
    <div class="col-md-12">
      <p>
        <strong> Período de Inscrição:</strong> 16 de agosto a 28 de outubro</p>
      <p>Enviar o formulario de inscrição junto com o comprovante de pagamento para o email
        <strong>sextoesea@gmail.com</strong>
      </p>
      <p>Será necessária para cada participante inscrito(a) a entrega de 1 kg de alimento não perecível no credenciamento</p>
      <p>
        <strong>Obs: </strong> Terão direito a certificados aqueles(as) que efetivarem a inscrição mediante ficha de inscrição e
        comprovante de pagamento bancário e tiverem frequência de mínima de 75% no evento. O valor da inscrição não será
        devolvido.
      </p>
    </div>
    <div class="col-md-12">
      <br>
      <h4>Submissões de Trabalhos</h4>
      <p>
        <strong>Período de envio de trabalhos:</strong> 16 de agosto a 27 de setembro</p>
      <p>
        <strong> Obs:</strong> Trabalhos com mais de um autor(a) devem ser encaminhados apenas pelo(a) primeiro(a) autor(a). Os resumos
        dos trabalhos aprovados serão publicados nos anais on line do evento, com seu respectivo ISBN. Os melhores artigos
        serão publicados, em sua versão completa, na Revista Sergipana de Educação Ambiental- REVISEA. Os certificados referentes
        à apresentação de trabalho serão conferidos apenas aos(as) autores(as) e coautores(as) presentes e devidamente inscritos
        no evento. As inscrições de autor(a) e coautor(es) só se efetivarão mediante o pagamento dos valores estabelecidos.
        Caso o(s) coautor(es) não realize(em) o pagamento da inscrição, não receberá(ão) certificado e nem constará(ão) seu(s)
        respectivo(s) nome(s) nas publicações do evento (resumo ou completo). É exigido ao(a) autor(a) o pagamento da inscrição
        no evento aos(as) coautores(as) é facultado, sendo que o(a) primeiro(a) autor(a) deverá fazê-la por ocasião da
        submissão do trabalho.</p>
      <p>
        <strong> Envio de trabalhos:</strong> trabalhosesea2017@gmail.com (em dois arquivos* e comprovante de pagamento)</p>
      <ul>
        <li>*Os trabalhos deverão ser encaminhados no formato .doc ou .docx em dois arquivos separados, mas em um único email:
          <ul>
            <li>
              <strong>Arquivo 1:</strong> Versão sem identificação dos(as) autores(as) - trabalho completo sem os nomes dos(as) autores(as)
              e de suas instituições.(.doc ou .docx)</li>
            <li>
              <strong>Arquivo 2:</strong>Trabalho completo na forma em que será publicado (.doc ou .docx)</li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="col-md-12">
      <div class="table-responsive">
        <table class="table table-bordered text-center">
          <thead>
            <tr>
              <th style="width: 150px;">Prazos</th>
              <th>Estudantes de graduação e professores da rede básica de ensino </th>
              <th>Estudantes de Pós- Graduação </th>
              <th>Demais profissionais</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th class="align-middle text-center">12/agosto a 27/setembro com trabalho</th>
              <td>R$ 30,00</td>
              <td>R$ 40,00</td>
              <td>R$ 50,00</td>
            </tr>
            <tr>
              <th class="align-middle text-center">12/agosto a 28/outubro sem trabalho</th>
              <td>R$ 30,00</td>
              <td>R$ 40,00</td>
              <td>R$ 50,00</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="col-md-6">
      <br>
      <div class="template-component-list template-component-list-style-4">
        <h1>Dados Bancários:</h1>
        <ul>
          <li>SOCIEDADE SEMEAR</li>
          <li>CNPJ: 04.816.878/0001-50</li>
          <li>BANCO DO ESTADO DE SERGIPE – BANESE</li>
          <li>AGÊNCIA 043 </li>
          <li>TIPO CONTA: 03 </li>
          <li>NÚMERO DA CONTA: 103558-6</li>
        </ul>
        <p>Enviar comprovante de pagamento da inscrição e ficha de inscrição devidamente preenchida para o email sextoesea@gmail.com.</p>
      </div>
    </div>
    <div class="col-md-6">
      <br>
      <br>
      <h1>Baixe aqui a ficha de inscrição!</h1>
      <a mat-raised-button color="primary" href="../../../assets/ficha/ficha_inscricao ESEA 2017.doc">FICHA DE INSCRIÇÃO</a>
    </div>
  </div>
</div>
