<ng-container *ngIf="progressRef.state$ | async; let state">
  <div *ngIf="state.active" style="transition:1s;position:absolute;height:100%;width:100%;background-color:aquamarine;z-index:999;display: flex;justify-content: center;align-items: center;flex-direction: column;">
    <img src="./../assets/logo/logo-header-170x80.png" />
  </div>
  <ng-progress [direction]="'ltr+'" [min]="20" [max]="1" [speed]="1000" [trickleSpeed]="300" [spinner]="true" [spinnerPosition]="'left'"
    [thick]="false" [meteor]="true" [color]="'red'" [ease]="'linear'"></ng-progress>
</ng-container>

<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <app-side-menu></app-side-menu>
  </mat-sidenav>

  <mat-sidenav-content>

    <app-menu></app-menu>

    <router-outlet></router-outlet>

    <app-social-share></app-social-share>

    <app-footer></app-footer>

  </mat-sidenav-content>

</mat-sidenav-container>
