<h3>COMISSÕES</h3>
<div class="comissao" *ngFor="let comissao of comissoes">

  <mat-card class="prog-card">
    <mat-card-header>
      <mat-card-title>
        <strong> {{comissao?.titulo | uppercase}} </strong>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <ul *ngFor="let integrantes of comissao.comissao_integrantes">
        <li> {{ integrantes?.nome }} </li>
      </ul>
    </mat-card-content>
  </mat-card>

</div>
