<div class="container-fluid container-header">
  <div class="row">
    <header class="header-paralax header-paralax-sobre">
    </header>
  </div>
</div>

<div class="container  body-container" style="min-height:600px;">
  <h1>INDEXAÇÃO</h1>
  <div class="row">
    <div class="col-md-12">
      <p>
        <strong> O Evento e os anais estão em fase de cadastro, em fontes de Indexação, tais como:</strong>
      </p>

      <ul>
        <li>Latindex</li>
        <li>Google Acadêmico Scholar</li>
        <li>Diadorim</li>
        <li>Sumarios.Org</li>
        <li>Cross Ref (DOI)</li>
      </ul>

    </div>
  </div>
</div>
