<mat-toolbar class="mat-toolbar-menu">

  <mat-toolbar-row class="toolbar-header-one">
    <div class="container container-top-header">
      <div class="container-menu-header-logo">
        <img src="./../assets/logo/logo-header-130x60.png" class="logo-header" alt="GEPEASE">
      </div>
      <div class="container-nome-isbn">
        <h1>Grupo de Estudo e Pesquisa em Educação Ambiental de Sergipe </h1>
        <span>ISBN: 978-85-7822-059-4</span>
      </div>
      <button mat-button [class.active]="toggleActive" (click)="toggleSidenav()" class="rightSidenav_toggle">
        <i class="fas fa-bars fa-lg"></i>
      </button>
    </div>
  </mat-toolbar-row>

  <mat-toolbar-row class="container-menu-header" color="primary">

    <a mat-button [routerLink]="['home']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">Home</a>

    <a mat-button [routerLink]="['certificados']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">Certificados</a>

    <a mat-button [routerLink]="['apresentacao']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">Apresentação</a>

    <button mat-button [matMenuTriggerFor]="menuUm">
      Programação
      <i class="fas fa-caret-down"></i>
    </button>
    <mat-menu #menuUm="matMenu">
      <a mat-menu-item [routerLink]="['/programacao']" [routerLinkActiveOptions]="{exact:true}" [routerLinkActive]="['active']">Programação</a>
      <a mat-menu-item [routerLink]="['/oficinas']" [routerLinkActiveOptions]="{exact:true}" [routerLinkActive]="['active']">Oficinas</a>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="menuDois">
      Inscrições
      <i class="fas fa-caret-down"></i>
    </button>
    <mat-menu #menuDois="matMenu">
      <a mat-menu-item [routerLinkActiveOptions]="{exact:true}" [routerLinkActive]="['active']" [routerLink]="['/inscricoes']">Inscrições para o Evento</a>
      <a mat-menu-item [routerLinkActiveOptions]="{exact:true}" [routerLinkActive]="['active']" [routerLink]="['/submissao-de-trabalhos']">Normas de Submissão</a>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="menuTres">
      Trabalhos Aprovados
      <i class="fas fa-caret-down"></i>
    </button>
    <mat-menu #menuTres="matMenu">
      <a mat-menu-item [routerLinkActiveOptions]="{exact:true}" [routerLinkActive]="['active']" [routerLink]="['/trabalhos-aprovados']">Trabalhos Aprovados</a>
      <a mat-menu-item [routerLinkActiveOptions]="{exact:true}" [routerLinkActive]="['active']" [routerLink]="['/indexacao']">Indexação</a>
    </mat-menu>

    <a mat-button [routerLink]="['comissao']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">Comissões</a>


    <a mat-button [routerLink]="['editorial']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">Equipe Editorial</a>

    <a mat-button [routerLink]="['eventos-anteriores']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">Eventos Anteriores</a>

    <a mat-button [routerLink]="['contato']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">Contato</a>


  </mat-toolbar-row>
</mat-toolbar>


<!-- mat-toolbar class="toolbar-header-one mat-toolba-menu-res">
  <div class="container">
    <div class="container-menu-header-logo">
      <img src="./../assets/logo/logo-header-130x60.png" class="logo-header" alt="GEPEASE">
      <span>ISBN: 978-85-7822-059-4</span>
    </div>

    <button mat-button [class.active]="toggleActive" (click)="toggleSidenav()" class="rightSidenav_toggle">
      <i class="fas fa-bars fa-lg"></i>
    </button>
  </div>
</mat-toolbar -->
