<div class="container-fluid container-header">
  <div class="row">
    <header class="header-paralax header-paralax-sobre">
    </header>
  </div>
</div>

<div class="container body-container">
  <div class="row">
    <div class="col-md-12">

      <h1>Submissões de Trabalhos</h1>

      <div class="col-md-12">
        <h4>Grupos de Trabalho</h4>
      </div>
      <!-- GT 1 -->
      <div class="col-md-12">
        <br>
        <h5> GT 01: Educação Ambiental e Políticas Públicas: </h5>
        <p>Propõe-se a reunir trabalhos que tenham como foco análises de políticas públicas relacionadas à Educação Ambiental
          e/ou discussões que relacionem políticas públicas e Educação Ambiental. Assim, o GT pretende reunir trabalhos que
          favoreçam a difusão de perspectivas teóricas diversas acerca do tema e, para tanto, abre espaço para trabalhos
          que tratem de aspectos relativos à formulação, implementação e avaliação de políticas públicas, bem como indicadores,
          monitoramento, ferramentas, estratégias e panoramas analíticos no âmbito das políticas públicas de quaisquer esferas.
        </p>
      </div>
      <div class="col-md-12">
        <br>
        <h5>GT 02: Educação Ambiental Formal e não Formal</h5>
        <p>
          Vislumbra abarcar trabalhos que tratem de discussões, relatos ou ações que estejam voltados para a função da educação nos
          âmbitos formal e não formal, assim como para reflexões sobre fundamentos epistemológicos, institucionalização e/ou
          dimensão da Educação Ambiental em currículos e propostas educativas em quaisquer níveis educacionais nos diversos
          espaços educativos que entremeiam a sociedade. Dessa maneira, o GT busca contribuir para o avanço de uma Educação
          Ambiental comprometida com a construção de conhecimentos e saberes científicos e populares sensibilizadores que
          percebem a Escola como uma dimensão da comunidade.
        </p>
      </div>

      <div class="col-md-12">
        <br>
        <h5>GT 03: Práticas em Educação Ambiental</h5>
        <p>Pretende socializar trabalhos que tencionem reflexões sobre práticas destinadas ao desenvolvimento de ações educativas
          e seus desafios relacionadas à Educação Ambiental, sejam elas de cunho pedagógico ou social, que elenquem propostas
          metodológicas que visem (re)significações acerca do entrelaçamento teoria-prática. De tal modo, o GT objetiva dialogar
          sobre metodologias participativas, intervencionistas, de caráter transversal e interdisciplinar em diferenciados
          níveis de ensino e em diferentes espaços educativos considerando a pluralidade das experiências metodológicas.</p>
      </div>

      <div class="col-md-12">
        <br>
        <h5>GT 04: Educação Ambiental no Processo de Gestão</h5>
        <p>Busca englobar trabalhos que tragam reflexões sobre a promoção de Educação Ambiental em ações/situações/proposições/processos
          que tenham como foco a busca permanente pela melhoria da qualidade de serviços, produtos e do ambiente, bem como
          pela redução de impactos ambientais. Desse modo, pretende-se, neste GT, lançar discussões sobre quão significativa
          e necessária é a Educação Ambiental atrelada à Gestão Ambiental para o alcance de resultados satisfatórios e consistentes
          ao longo de propostas gestoras, haja vista a impossibilidade de haver propostas gestoras dissociadas de propostas
          educativas.
      </div>

      <div class="col-md-12">
        <br>
        <h5>GT 05: Educação Ambiental e Diversidade</h5>
        <p>Trazer reflexões do mundo contemporâneo sobre a Educação Ambiental no contexto da diversidade étnica, cultural, de
          gênero, de povos e comunidades tradicionais, entre outros, que está presente em nossa sociedade e que recorrentemente
          é ocultada pela visão euro/etnocêntrica que historicamente tem permeado os múltiplos setores que constituem a sociedade
          e as instituições que dela fazem parte. De tal forma, este GT pretende dialogar sobre o enfrentamento à valorização
          excessiva da racionalidade científica a partir da recepção de trabalhos que discutam as subjetividades e complexidades
          presentes nas entrelinhas de discursos e práticas dos sujeitos no âmbito da Educação Ambiental, refletindo sobre
          a importância da diversidade na busca de uma educação para todos.</p>
      </div>


      <div class="col-md-12">
        <div class="template-component-header-subheader">
          <h1>Normas para submissão de trabalhos</h1>
        </div>
      </div>

      <!-- GT 1 -->
      <div class="col-md-12">
        <ul>
          <li>1) Poderão ser encaminhados relatos de pesquisa (em andamento ou concluída), ensaios teóricos ou relatos de experiência.
            Não serão aceitos textos apresentados como projetos.</li>
          <li>2) Apenas o(a) 1º autor(a) poderá encaminhar trabalhos. Cada participante poderá encaminhar apenas um trabalho
            como 1º autor(a). Não encaminhe trabalhos nos quais é co-autor(a).</li>
          <li>3) Os trabalhos deverão ser encaminhados no formato .doc ou .docx em dois arquivos separados, mas em um único email:
            <ul>
              <li>Arquivo 1: Versão sem identificação dos(as) autores(as) - trabalho completo sem os nomes dos(as) autores(as)
                e de suas instituições.(.doc ou .docx)</li>
              <li>Arquivo 2: Trabalho completo na forma em que será publicado (.doc ou .docx)</li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="col-md-12">
        <div class="template-component-header-subheader">
          <h1>Normas para formatação dos textos:</h1>
        </div>
      </div>

      <!-- GT 1 -->
      <div class="col-md-12">
        <p>
          Os trabalhos devem ser escritos em português. O texto deve estar em formato compatível com o Word for Windows, fonte Times
          New Roman, corpo 12, espaço 1,5cm, sem espaço entre parágrafos; alinhamento com as margens esquerda e direita (justificado)
          e recuo de 1,25cm no início de cada parágrafo. O texto deve conter de 9 até 12 páginas (incluindo resumo, figuras,
          tabelas e referências bibliográficas) em formato A4 e margens superior, inferior e laterais de 3 cm. Na primeira
          página do texto deve constar o título completo do trabalho, centralizado e em negrito, seguido dos nomes dos(as)
          autores(as) acompanhados da sigla de suas instituições - estes, com formatação alinhada à margem direita. Não
          esqueça de retirar os nomes e instituições na versão sem identificação (Arquivo 1). O resumo deve estar no idioma
          em que o trabalho foi escrito. Resumo deve conter até 150 palavras. Indicar na sequência três palavras-chave.
          No caso de pesquisas empíricas, o resumo deve apresentar brevemente e de forma clara os objetivos, a metodologia
          e os resultados mais importantes. O resumo não precisa incluir referências. As palavras-chave e devem refletir
          da melhor maneira possível a temática do estudo.
        </p>
        <p>AAs citações no texto e as referências devem seguir rigorosamente a última versão das normas da ABNT. As normas escolhidas
          devem ser uniformes ao longo de todo o texto. Nos casos indicados abaixo, em que a ABNT oferece opções, o trabalho
          deverá adotar as orientações que se seguem:
        </p>
        <ul>
          <li>1. As citações devem ser indicadas no texto pelo sistema de chamada autor-data. Exemplo: Segundo Sobrenome (2000)
            ou (SOBRENOME, 2000)..</li>
          <li>2. As referências devem aparecer em "Referências" e só devem apresentar aquelas que foram citadas no transcorrer
            do texto.</li>
          <li>3. O recurso tipográfico itálico deve ser utilizado para destacar o elemento titulo das obras, de acordo com a
            norma.
          </li>
          <li>4. As notas devem ser colocadas no rodapé́ da página.</li>
          <li>5.
            <a mat-raised-button color="primary" href="../../../assets/ficha/modelo.docx">Exemplo de formatação da primeira página</a>
          </li>
        </ul>
        <p>
          <strong>PUBLICAÇÃO DOS ARTIGOS APROVADOS E APRESENTADOS</strong>
        </p>
        <p>Os artigos aprovados e apresentados durante o evento serão publicados nos anais do mesmo (ISBN 978-85-7822-059-4),
          sendo os 15 melhores selecionados para publicação na Revista Sergipana de Educação Ambiental-
          <a href="https://seer.ufs.br/index.php/revisea" target="_blank">REVISEA (https://seer.ufs.br/index.php/revisea).</a>
        </p>
      </div>
      <br>
    </div>
  </div>
</div>
