/* SHARED BUTTONS */

@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";
@import "@ngx-share/button/styles/share-buttons.css";
@import "@ngx-share/button/styles/themes/default/default-theme.css";
/* BOOTSTRAP ONLY GRID */

@import "./assets/libs/bootstrap-grid.css";
/* IMPORTAÇÃO DE FONTES */

@import "fonts.css";
/*RESET*/

html,
body,
app-root {
  margin: 0px;
  padding: 0px;
  font-family: 'latoregular';
  height: 100%;
}

.container-fluid {
  padding: 0px;
  margin: 0px;
}

.mat-drawer-container {
  background-color: #ffffff !important;
  color: inherit !important;
}

/* TIPOGRAFIA */

body,
body .subtitle,
body .title,
body h1,
body h2,
body h3,
body h4,
body h5,
body h6,
body p {
  color: rgb(84, 98, 115);
}

.title {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.125;
  margin: 5px 0 !important;
}

html,
body {
  font-family: 'latoregular';
}

/* CONTAINERS */

.body-container {
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  padding-top: 15px;
  margin-top: 25px;
}

.body-container .row {}

/* IMAGEM RESPONSIVA */

.img-fluid {
  max-width: 100%;
  height: auto;
}

/*TABELAS*/

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
}

.table th,
.table td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}

.table tbody+tbody {
  border-top: 2px solid #dee2e6;
}

.table .table {
  background-color: #fff;
}

.table-sm th,
.table-sm td {
  padding: 0.3rem;
}

.table-bordered {
  border: 1px solid #dee2e6;
}

.table-bordered th,
.table-bordered td {
  border: 1px solid #dee2e6;
}

.table-bordered thead th,
.table-bordered thead td {
  border-bottom-width: 2px;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}

.table-hover tbody tr:hover {
  background-color: rgba(0, 0, 0, 0.075);
}

.table-primary,
.table-primary>th,
.table-primary>td {
  background-color: #b8daff;
}

.table-hover .table-primary:hover {
  background-color: #9fcdff;
}

.table-hover .table-primary:hover>td,
.table-hover .table-primary:hover>th {
  background-color: #9fcdff;
}

.table-secondary,
.table-secondary>th,
.table-secondary>td {
  background-color: #d6d8db;
}

.table-hover .table-secondary:hover {
  background-color: #c8cbcf;
}

.table-hover .table-secondary:hover>td,
.table-hover .table-secondary:hover>th {
  background-color: #c8cbcf;
}

.table-success,
.table-success>th,
.table-success>td {
  background-color: #c3e6cb;
}

.table-hover .table-success:hover {
  background-color: #b1dfbb;
}

.table-hover .table-success:hover>td,
.table-hover .table-success:hover>th {
  background-color: #b1dfbb;
}

.table-info,
.table-info>th,
.table-info>td {
  background-color: #bee5eb;
}

.table-hover .table-info:hover {
  background-color: #abdde5;
}

.table-hover .table-info:hover>td,
.table-hover .table-info:hover>th {
  background-color: #abdde5;
}

.table-warning,
.table-warning>th,
.table-warning>td {
  background-color: #ffeeba;
}

.table-hover .table-warning:hover {
  background-color: #ffe8a1;
}

.table-hover .table-warning:hover>td,
.table-hover .table-warning:hover>th {
  background-color: #ffe8a1;
}

.table-danger,
.table-danger>th,
.table-danger>td {
  background-color: #f5c6cb;
}

.table-hover .table-danger:hover {
  background-color: #f1b0b7;
}

.table-hover .table-danger:hover>td,
.table-hover .table-danger:hover>th {
  background-color: #f1b0b7;
}

.table-light,
.table-light>th,
.table-light>td {
  background-color: #fdfdfe;
}

.table-hover .table-light:hover {
  background-color: #ececf6;
}

.table-hover .table-light:hover>td,
.table-hover .table-light:hover>th {
  background-color: #ececf6;
}

.table-dark,
.table-dark>th,
.table-dark>td {
  background-color: #c6c8ca;
}

.table-hover .table-dark:hover {
  background-color: #b9bbbe;
}

.table-hover .table-dark:hover>td,
.table-hover .table-dark:hover>th {
  background-color: #b9bbbe;
}

.table-active,
.table-active>th,
.table-active>td {
  background-color: rgba(0, 0, 0, 0.075);
}

.table-hover .table-active:hover {
  background-color: rgba(0, 0, 0, 0.075);
}

.table-hover .table-active:hover>td,
.table-hover .table-active:hover>th {
  background-color: rgba(0, 0, 0, 0.075);
}

.table .thead-dark th {
  color: #fff;
  background-color: #212529;
  border-color: #32383e;
}

.table .thead-light th {
  color: #495057;
  background-color: #e9ecef;
  border-color: #dee2e6;
}

.table-dark {
  color: #fff;
  background-color: #212529;
}

.table-dark th,
.table-dark td,
.table-dark thead th {
  border-color: #32383e;
}

.table-dark.table-bordered {
  border: 0;
}

.table-dark.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(255, 255, 255, 0.05);
}

.table-dark.table-hover tbody tr:hover {
  background-color: rgba(255, 255, 255, 0.075);
}

@media (max-width: 575.98px) {
  .table-responsive-sm {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }
  .table-responsive-sm>.table-bordered {
    border: 0;
  }
}

@media (max-width: 767.98px) {
  .table-responsive-md {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }
  .table-responsive-md>.table-bordered {
    border: 0;
  }
}

@media (max-width: 991.98px) {
  .table-responsive-lg {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }
  .table-responsive-lg>.table-bordered {
    border: 0;
  }
}

@media (max-width: 1199.98px) {
  .table-responsive-xl {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }
  .table-responsive-xl>.table-bordered {
    border: 0;
  }
}

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.table-responsive>.table-bordered {
  border: 0;
}

/*NAVBAR*/

.container-menu-header {
  background: #3db99d;
  color: #fff;
}

.container-menu-header span,
.container-menu-header a {
  color: #fff;
}

.toolbar-header-one {
  height: 100px !important;
  background-color: #ffffff;
}

.container-top-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-nome-isbn {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  padding-left: 10px;
  border-left: 2px solid #3db99d
}

.container-nome-isbn h1 {
  font-size: 1.3rem;
  font-weight: normal;
  line-height: 1.4rem;
  white-space: normal !important;
}

.container-nome-isbn span {
  font-size: 0.8rem;
  font-weight: lighter;
  line-height: 1rem;
}

.container-menu-header-logo {
  width: 150px;
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.container-menu-header-logo span {
  text-align: center;
  font-size: 0.8rem;
  margin: 0px;
  color: rgb(161, 161, 161)
}

.mat-toolba-menu-res,
.rightSidenav_toggle {
  display: none !important;
}

@media only screen and (max-width: 1050px) {
  .container-menu-header {
    display: none !important;
  }
  .container-nome-isbn h1 {
    font-size: 1.1rem;
  }
  .rightSidenav_toggle {
    display: inline !important;
  }
  .mat-toolba-menu-res {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .toolbar-header-one {
    height: 80px !important;
    -webkit-box-sizing: content-box !important;
    box-sizing: content-box !important;
    background-color: #ffffff;
    padding: 0 !important;
  }
  .toolbar-header-one .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .toolbar-header-one img {
    height: 45px !important;
  }
  .container-menu-header-logo {
    width: 125px;
    height: 70px;
  }
  .container-menu-header-logo span {
    font-size: 0.6rem;
  }
  app-side-menu,
  mat-sidenav.mat-drawer.mat-sidenav {
    overflow: visible;
  }
  .close-bnt-sidenav {
    position: absolute !important;
    top: 0;
    right: -45px;
    background: #fff;
    z-index: 99999999;
    max-width: 53px !important;
    min-width: 50px !important;
  }
}

@media only screen and (max-width: 495px) {
  .container-nome-isbn h1 {
    font-size: 0.9rem;
    line-height: 1.2rem;
    white-space: normal !important;
  }
}

mat-toolbar-row.container-menu-header.mat-toolbar-row {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

/* HOME*/

.swiper-container {
  margin-top: 25px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

.container-realizacao,
.container-parceiros {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-top: 15px;
}

.container-realizacao img,
.container-parceiros img {
  width: auto;
  height: 100px;
}

/* SOBRE */

/* ESTRRUTURA */

/* MATRÍCULA*/

/* GALERIA */

/*CERTIFICADOS*/

.input-full-width {
  width: 100%;
  font-size: 2rem;
}

.item-list {
  display: none;
}

/*
*EDICOES ANTERIORES
 */

.menu-eventos-anteriores {
  list-style: none;
}

.menu-eventos-anteriores li {
  margin-bottom: 10px;
}

.menu-eventos-anteriores li a {
  background-color: #3db99d;
  color: #fff;
}

.link-eventos {
  cursor: pointer;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  transition: .6s;
  margin-bottom: 15px;
}

.link-eventos:hover {}

.link-eventos img {}

.link-eventos h1 {
  background: #3db99d;
  margin: 0;
  padding: 10px;
  color: #fff;
}

.eventos-img-header-container {
  text-align: center;
  overflow: hidden;
  max-height: 300px;
}

.eventos-img-header-container img {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

.txt-apresentacao {
  text-align: justify;
}

/* Item individual */

.card-header-image {
  background: #3db99d;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.prog-card {
  margin-bottom: 15px;
}

.prog-grup {
  padding: 10px 0 0 0;
  border-bottom: 1px solid #dadada
}

.prog {
  padding-bottom: 10px;
}

.progDetail {
  margin: 0px 0px 0px 5px;
  padding-bottom: 5px;
}

.progDetail {
  margin-left: 20px
}

.prog i,
.progDetail i {
  padding-right: 5px
}

.prog i,
.progDetail i {
  color: #3db99d;
}

.prog span {
  font-weight: bold;
  font-size: .9rem;
  letter-spacing: 0.05rem;
}

/*CONTATO*/

.form-full-width {
  width: 100%;
}

.contato-icon-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.contato-icon-container i {
  font-size: 1.5rem;
  padding: 10px;
  margin-right: 10px;
  background: #3db99d;
  color: #fff;
  border-radius: 100%;
}

/*FOOTER*/

.page-footer {
  padding-top: 20px;
  color: #fff;
  background-color: #3db99d;
}

.container-creativecommons {
  display: flex;
  flex-direction: column;
  flex-flow: column;
  justify-content: space-around;
  align-items: flex-start;
}

.container-creativecommons-link {
  padding: 10px 0;
}

.container-creativecommons span,
.container-creativecommons a,
.container-creativecommons p {
  color: #fff;
  padding: 0px;
  margin: 0px;
}

.container-menu-footer span,
.container-menu-footer a,
.container-menu-footer p {
  color: #fff;
}

.page-footer .footer-copyright {
  overflow: hidden;
  min-height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 10px 0px;
  color: rgba(255, 255, 255, 0.8);
  background-color: rgba(51, 51, 51, 0.08);
}

.page-footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.8rem;
}

.footer-copyright {}

.container-copyright {}

.footer-copyright .conteiner-contador {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-copyright .conteiner-contador img {
  height: 25px
}

@media only screen and (max-width: 767px) and (min-width: 479px) {
  .container-creativecommons {
    display: flex;
    flex-direction: row;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
  }
  .container-creativecommons-link {
    padding: 10px 0 0 70px;
  }
}

@media only screen and (max-width: 480px) {
  .container-creativecommons {
    justify-content: space-around;
    align-items: center;
  }
  .container-menu-footer {
    display: none;
  }
  .container-creativecommons-link {
    width: 100%;
    display: -webkit-flex;
    /* Safari */
    display: flex;
    align-items: center
  }
  .container-creativecommons-link .imagem {
    flex-grow: 1;
    padding-right: 10px;
  }
  .container-creativecommons-link .texto {
    flex-grow: 2;
  }
}
