<app-carousel-slide-home></app-carousel-slide-home>

<div class="container body-container">

  <div class="row">

    <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
      <h1 class="title">Objetivos do Evento</h1>
      <ul>
        <li>Refletir sobre as relações entre a temática ambiental e o campo da educação ambiental</li>
        <li>Discutir as implicações da temática ambiental, compreendida como problema na sociedade contemporânea, para os processos
          de produção de conhecimento e prática pedagógica no campo da educação ambiental </li>
        <li>Discutir, analisar e divulgar trabalhos, projetos e experiências na área da educação ambiental </li>
        <li>Contribuir para a formação teórico-prática sobre a dimensão socioambiental </li>
        <li>Fomentar o interesse pela participação em estudos e desenvolvimento da prática pedagógica em educação ambiental
        </li>
        <li>Divulgar o Grupo de Estudos e Pesquisa em Educação Ambiental de Sergipe, seus princípios, projetos e participantes,
          bem como o trabalho de extensão que é realizado através do Projeto Sala Verde, em parceria com a UFS </li>
        <li>Refletir sobre as dificuldades, desafios e possibilidades para a implementação de políticas públicas de educação
          ambiental
        </li>
        <li>Apontar diretrizes necessárias a serem conquistadas na construção de políticas públicas afinadas a uma educação ambiental
          críticaPROGRAMAÇÃO
        </li>
      </ul>
    </div>

    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
      <div class="fb-page" data-href="https://www.facebook.com/viesea/" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true"
        data-hide-cover="false" data-show-facepile="true"></div>
    </div>
  </div>
  <mat-divider></mat-divider>
  <app-parceiros></app-parceiros>
  <mat-divider></mat-divider>
  <app-realizacao></app-realizacao>
  <mat-divider></mat-divider>
</div>
