<div class="container-fluid container-header">
  <div class="row">
    <header class="header-paralax header-paralax-sobre">
    </header>
  </div>
</div>

<section class="container body-container">
  <div *ngFor="let evento of eventos">
    <app-evento [evento]="evento"></app-evento>
  </div>
</section>
